.row
  .col-md-6
    .well
      %h2
        Logs  
        %i.fa.fa-list
        %hr        
        .label.label-primary= @logsTotal
        in total
  .col-md-6
    .well
      %h2
        Users  
        %i.fa.fa-users
        %hr        
        .label.label-primary= @usersTotal
        in total

.row
  .col-md-6
    .well
      %h2
        Articles  
        %i.fa.fa-book
        %hr        
        .label.label-primary= @articlesTotal
        in total
  .col-md-6
    .well
      %h2
        Groups  
        %i.fa.fa-briefcase
        %hr        
        .label.label-primary= @groupsTotal
        in total


  
