- content_for :title, "#{@articles.count} articles found"
- if @articles.count > 0
  - @articles.each do |article|
    = link_to article.theme, article
    %br
- else 
  %h5{style: "color:#aaa"}= "No articles found..."



