%h1
  My groups(#{current_user.groups.count})
  = link_to "Create new", new_group_path, class: "btn btn-sm btn-success"
- if current_user.groups.any?
  .row
    - current_user.groups.each do |group|
      .col-md-4= render 'groups/group', group: group
- else
  %h1 You have not any groups
  = link_to "Create", new_group_path
