= form_for(current_user.relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
  = button_tag(type: 'submit', class: "btn btn-unfollow btn-block") do
    %i.fa.fa-comment.fa.lg.fa-thumbs-down= " Unfollow"