- content_for :title, "Main"
.row.text-center
  .col-md-4
    .btn-social.btn-danger.text-center#example{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "left", "data-toggle" => "popover", type: "button"}
      %i.fa.fa-heart.fa-lg
  .col-md-4
    .btn-social.btn-primary.text-center
      %i.fa.fa-facebook.fa-lg
  .col-md-4
    .btn-social.btn-success.text-center
      %i.fa.fa-twitter.fa-lg