r- content_for :title, "Main"
.my-info.container
  .row
    .col-md-10
      %h1 Vitaliy Krushelnitskiy
      %hr.text-muted
      %h4.text-primary I am a young web-developer. My ambitions is to create something very useful and easy in use for peoples. So, I founded Cilluion.
      %hr
      .row
        .col-md-2
          %h3
            Contacts
        .col-md-4
          %ul.list-group
            %li.list-group-item
              %i.fa.fa-google-plus.text-danger.fa-lg
              .pull-right= link_to "google +", "https://plus.google.com/u/0/113271724909153326824"
            %li.list-group-item
              %i.fa.fa-facebook.text-info.fa-lg
              .pull-right= link_to "facebook", "https://www.facebook.com/profile.php?id=100005973152290"
            %li.list-group-item
              %i.fa.fa-twitter.text-primary.fa-lg
              .pull-right=link_to "twitter", "https://twitter.com/v_yksi"
            %li.list-group-item
              %i.fa.fa-vk.text-default.fa-lg
              .pull-right= link_to "vk.com", "http://vk.com/yksi_o"
            %li.list-group-item
              %i.fa.fa-envelope.text-warning.fa-lg
              .pull-right=link_to "embox@urk.net", "mailto:embox@urk.net"
        .col-md-4
          .thumbnail
            %h1.text-center
              %i.fa.fa-github.text-primary
              also github
            %h2.text-center= link_to "GitHub", "https://github.com/yksi", class: "btn btn-success"
    .col-md-2
      %h1.user
        %i.fa.fa-user
      %h2.user
        About me