- content_for :title,  "Timeline"
= stylesheet_link_tag "timeline"
%ul.timeline
  - Log.order(created_at: :desc).each do |log|
    - if log.get_recipient == current_user
      = render "new_#{log.logable_type.downcase}", logable: log.logable, user: log.user