.comment
{
  width: 100%;
  height: auto;
  float: right;
  border-radius: 2px;

  /*create leaf*/
/*
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 23px;*/

  border-bottom: solid black;

  /*end of create leaf*/

  border: 1px #000 solid;

  background-color: rgba(255, 255, 255, 0.6);

  padding: 14px;

  /*color: #511f20;
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Times New Roman', Times, serif;
  font-style: inherit;*/

}