#gritter-notice-wrapper {
  position:fixed;
  top:50px;
  right:10px;
  width:301px;
  z-index:999999;
}
#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}
#gritter-notice-wrapper.bottom-right {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
}
#gritter-notice-wrapper.bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}
.gritter-item-wrapper {
  position:relative;
  margin:0 0 10px 0;
}

.gritter-top, .gritter-bottom {
  height: 0;
}

.gritter-item {
  display:block;
  background-color: rgba(0, 0, 0, 0.5);
  padding:7px 10px 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #000000;
  box-shadow: 0 1px 4px #000000,0 1px 0 rgba(255,255,255,0.3) inset;
  color: white;
}
.hover .gritter-item {
  /*border: 1px solid #ffffff;*/
}
.gritter-item p {
  padding:0;
  margin:0;
  word-wrap:break-word;
  font-size: 10px;
  line-height: 14px;
}
.gritter-close {
        position:absolute;
        top:-5px;
        right:-5px;
        background:url(../img/gritter.png) no-repeat left top;
        cursor:pointer;
        width:30px;
        height:30px;
}
.gritter-title {
        font-size:16px;
        font-weight:bold;
        padding:0 0 7px 0;
        display:block;
}
.gritter-image {
        width:32px;
        height:32px;
        float:left;
        margin: 5px;
}
.gritter-with-image,
.gritter-without-image {
        padding:0;
}
.gritter-with-image {
        width:220px;
        float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  margin-top: 12px;
}

.gritter-close {
  margin-top: 12px;
  font-weight: bold;
  font-size: 20px;
}

.gritter-close:before {
  content: "✖";
}

.gritter-light .gritter-title {
    text-shadow: none;
}
